// Hack to remove the organic group tabs for anonymous users
.not-logged-in div.tabs {
  display: none;
}

h1#page-title {
  @include squish-text;
}

// Navigation

.group-nav {
  .branch-header-image {
    line-height: 0;
    text-align: center;
  }
}

.group-nav-menu {
    ul {
      margin: 0;
      padding: 5px 5px 3px;
      background-color: $gray-dark;
      text-align: center;
        li {
          margin: 0;
          padding: 0;
          a {
            padding: 6px 10px 5px;
            // padding-bottom: 7px;
            text-decoration: none;
            &:hover {
              background-color: $gray-light;
            }
            &.active-trail {
              background-color: $gray-light;
            }
          }
          height: 100%;
          display: inline;
        }
        li.active-trail {
            ul.menu {
              display: none;
            }
        }
    }
}

aside.sidebar-group {
  border: 1px solid gray;
  margin: 1em;
  ul {
    padding-left: 1em;
      li {
        list-style: none;
          a {
            text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          }
      }
  }
}

// Page content

article div.content-group {
  padding: 0 1em;
}

// Removed this right side content padding since the content area was smooshed to 7col from 9col
// article.sidebar-group div.content-group {
//   padding: 0 1em 0 0;
// }

// Front Page Blocks
.frontpage-blocks {
  margin-top: 1em;
  .frontpage-block {
    $gutter-width: 0px;
    @include span-columns(4,12);
    padding: 0 1em;
    h3 {
      margin: 0 .5em;
    }
    h3.frontpage-block-title {
      font-family: $helvetica;
      margin: 0;
      padding: 0 1em;
      font-size: 1.6em;
      background-color: yellow;
      border: 1px solid darken(yellow, 5%);
      @include border-radius(2px);
    }
    img {
      display: block;
      margin: .3em auto;
    }
  }
}

.node-type-branch-exhibits article,
.node-type-branch-digital-collection article {
  padding: 0 1em;
    .field-name-field-exhibit-promo-img img,
    .field-name-field-collection-promo-img img {
      @include float(left);
      margin: 0 1.5em .5em 0;
    }
}

// Branch FAQ
.branch-faq {
  @include span-columns(8);
}
