// Branch Specific Variables, Mixins and Extends

// Extend for Shadowed Boxes on Branch Pages
.branch-boxes-shadowed {
  border: 1px solid $gray-light;
  box-shadow: 1px 1px 5px 1px $gray-light;
  @include border-radius(2px);
}

// Extend for making three columns on front page of branches
.frontpage-column-thirds {
  @include span-columns(3.5,12);
  @include squish(.4);
}

// Extend for making four columns on front page of branches
.frontpage-column-fourths {
  @include span-columns(2.7, 12);
  @include squish(.2);
}

// Hack to remove the organic group tabs for anonymous users
.not-logged-in div.tabs {
  display: none;
}

h1#page-title {
  // @include squish-text;
  margin: 10px 0;
  color: $black-light;
}

// Navigation

div.group-nav {
  .branch-header-image-container {
    position: relative;
  }
  .branch-header-image {
    line-height: 0;
    text-align: center;
  }
  .branch-header-image-attribution {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $black-light;
    padding: 5px;
    width: 25px;
    height: 25px;
    line-height: 1em;
    overflow: hidden;
    @include border-top-left-radius(2px);
    @include opacity(.8);
    a:before {
      content: '\00ab';
      color: $white;
      // font-style: italic;
      font-size: 1.5em;
    }
    a {
      color: $black-light;
      text-decoration: none;
    }
      &:hover,
      &:focus {
        @include opacity(1);
        width: auto;
        // height: auto;
        padding: 5px 10px;
        a {
          color: $white;
          &:before {
            content: '';
          }
            &:hover,
            &:focus {
              text-decoration: underline;
            }
        }
    }
  }
}

.group-nav-menu {
  font-family: $verdana;
    ul {
      background-color: #cccccc; // Default color
      margin: 0;
      padding: 5px;
      text-align: center;
        li {
          margin: 0;
          &.active-trail {
          font-weight: bold;
            ul.menu {
              display: none;
          }
          &.expanded,
          &.collapsed,
          &.leaf {
          padding: 0;
          }
        }
          a {
            text-decoration: none;
            padding: 8px 10px 6px;
            // position: relative;
            height: 100%;
          }
          display: inline-block;
        }
    }
}

article.group-nav aside.sidebar {
  @extend .branch-boxes-shadowed;
  margin: 1em;
  &.sidebar-second {
    margin: 1em 1em 0 0;
  }
  h2 {
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 0 .8em;
    margin: .5em 0 .2em 0;
      a {
        color: $black-light;
        @extend .clean-links;
      }
  }
  ul {
    padding: 0 1em;
    margin-top: 0;
      li {
        margin: 0 0 .2em 0;
          &.last {
            margin: 0;
      }
    }
      li {
        list-style: none;
          a {
            color: $black-light;
            @extend .clean-links;
          &.active-trail {
            font-weight: bold;
          }
          }
      }
  }
}

// Page content

article div.content-group {
  @include susy-grid-background;
  padding: .5em 1em;
  .content-suffix {
    clear: both;
  }
}

// Branch Tables (mostly used for sortable views outputs)

.node-type-branch-pages {
  thead {
    display: none;
  }
  tbody {
    border-top: 0px;
  }
  a.tabledrag-handle .handle {
    height: 25px;
    width: 25px;
  }
}

// Front Page Blocks
.frontpage-columns {
  margin-top: 1em;
  .frontpage-column {
    .frontpage-block {
      padding: 1em;
      margin-bottom: 1em;
      position: relative;
      @extend .branch-boxes-shadowed;
        .ask-a-librarian-widget {
          iframe {
            width: 100%;
            height: 350px;
          }
          margin-bottom: 25px;
        }
    .frontpage-block-footer {
      width: 90%;
      position: absolute;
      bottom: 10px;
    }
    }
    div.view-content {
      margin: 10px 0 0;
    }
    div.view-content div,
    h3 {
      margin: 0 .3em;
      a {
        @extend .clean-links;
      }
    }
    div.view-content div {
      margin-bottom: .6em;
      &:last-child {
        margin-bottom: 0;
      }
    }
    p {
      margin: 0 0 1em;
    }
    h3.frontpage-block-title {
      font-family: $segoeui;
      background-color: #cccccc; // Default color
      font-size: 2em;
      line-height: 2em;
      margin: 0;
      padding: 0 1em;
      @include border-radius(2px);
    }
    hr {
      margin: 1em auto .5em;
      text-align: center;
      border: 0;
      height: 1px;
    }
    h4 {
      margin: 0;
    }
    img {
      display: block;
      margin: .3em auto;
    }

    a.views-more-link {
      display: block;
      text-align: right;
      margin: -1em 1em 0;
      font-style: italic;
      @extend .clean-links;
    }
    p.more-in-category,
    p.more-about-resource {
      margin: 0 .3em;
      font-weight: bold;
      a {
        @extend .clean-links;
      }
    }
  }
}

.node-branch-news-and-featured-content {
    div.field-name-field-branch-event-date {
      font-weight: bold;
      padding: 1em 0;
      margin-top: -1.5em;
    }
    .field-name-field-branch-content-image img {
      @include float(right);
      margin: 0 0 .5em 1.5em;
    }
}

// Branch FAQ
.branch-faq {
  h4 {
    display: inline-block;
  }
  h4:target {
    background: $highlight-yellow;
    @include transition(background .5s ease-out);
  }
  .branch-faq-back-to-top {
    float: right;
    font-size: .8em;
      a {
        @extend .clean-links;
        }
  }
}

.branch-faq-menu {
  h3 {
    margin: 0;
    padding-left: .5em;
  }
  div >div {
    p {
      margin: 0 1em 1em;
    }
  a {
    @extend .clean-links;
  }
  }
}

// Branch News and Featured content
.branch-news {
  h3 {
    line-height: 1.5em;
    margin-bottom: .5em;
    a {
      @extend .clean-links;
    }
  }
  a.views-more-link {
    display: block;
    text-align: right;
    margin: 1em;
    font-style: italic;
    @extend .clean-links;
  }
  .branch-news-category {
    font-style: italic;
    margin: 0 .5em .5em;
  }
}

// Branch Social Media
// For branches that use large social media icons
ul.branch-social-media-accounts-list-lg {
    margin: 0 0 -10px;
    text-align: center;
    list-style-type: none;
     li {
      display: inline;
      margin: 0;

      a {
        display: inline-block;
        height: 72px;
        width: 72px;
        @include border-radius(2px);
        &.social-media-icon-fb {
          @include replace-text($social-icon-fb-lg);
        }
        &.social-media-icon-flickr {
          @include replace-text($social-icon-flickr-lg);
        }
        &.social-media-icon-gplus {
          @include replace-text($social-icon-gplus-lg);
        }
        &.social-media-icon-pinterest {
          @include replace-text($social-icon-pinterest-lg);
        }
        &.social-media-icon-twitter {
          @include replace-text($social-icon-twitter-lg);
        }
        &.social-media-icon-yt {
          @include replace-text($social-icon-youtube-lg);
        }
        &.social-media-icon-instagram {
          @include replace-text($social-icon-instagram-lg);
        }
        &.social-media-icon-vimeo {
          @include replace-text($social-icon-vimeo-lg);
        }
      }
    }
}
// For branches that use small social media icons
ul.branch-social-media-accounts-list-sm {
    margin: -30px 0 -10px;
    text-align: right;
    list-style-type: none;
     li {
      display: inline;
      margin: 0;

      a {
        display: inline-block;
        height: 22px;
        width: 22px;
        @include border-radius(2px);
        &.social-media-icon-fb {
          @include replace-text($social-icon-fb-sm);
        }
        &.social-media-icon-flickr {
          @include replace-text($social-icon-flickr-sm);
        }
        &.social-media-icon-gplus {
          @include replace-text($social-icon-gplus-sm);
        }
        &.social-media-icon-pinterest {
          @include replace-text($social-icon-pinterest-sm);
        }
        &.social-media-icon-twitter {
          @include replace-text($social-icon-twitter-sm);
        }
        &.social-media-icon-yt {
          @include replace-text($social-icon-youtube-sm);
        }
        // Currently no small instagram icon
        // &.social-media-icon-instagram {
        //   @include replace-text($social-icon-instagram-sm);
        // }
        // Currently no small vimeo icon
        // &.social-media-icon-vimeo {
        //   @include replace-text($social-icon-vimeo-sm);
        // }
      }
    }
}

// Branch Contact Info
.branch-location-block {
  a {
    @extend .clean-links;
    font-weight: bold;
  }
}

.branch-contactinfo-block {
  @include span-columns(3);
  @include pre(1);
}

.branch-campusaddress-block {
  @include span-columns(3);
}

.branch-mailingaddress-block {
  @include span-columns(3);
}

.branch-googlemap-block {
  @include span-columns(10,12);
  @include pre(1);
  padding-top: 1em;
    iframe {
      @extend .branch-boxes-shadowed;
      width: 95%;
    }
}

// Branch Staff List
div.branch-staff-list {
  .branch-staff-name span:first-of-type {
    font-size: 1.1em;
    font-weight: bold;
    a {
      @extend .clean-links;
      color: $black-light;
    }
  }
  .branch-staff-colloquial-title {
    font-weight: bold;
    font-style: italic;
  }
  table {
    tr {
      &:hover {
        background: $highlight-yellow;
      }
    }
    td {
      display: block;
        &:first-of-type {
          display:table-cell;
          vertical-align: top;
        }
      span {
        display: block;
        padding-top: .5em;
      }
    }
  }
}
