// Hack to remove the organic group tabs for anonymous users
.not-logged-in div.tabs {
  display: none;
}

h1#page-title {
  @include squish-text;
}

// Navigation

.node-type-branch {
  .field-type-image {
    text-align: center;
    line-height: 0;
  }
}

#block-og-menu-og-single-menu-block {
    ul {
      margin: 0;
      padding: 5px;
      background-color: $gray-dark;
      list-display: none;
      text-align: center;
        li {
          height: 100%;
          display: inline;
          padding: 6px;
            &:hover {
              background-color: $gray-light;
            }
        }
        li.active-trail {
          background-color: $gray-light;
        }
    }

}

.frontpage-blocks {
  margin-top: 1em;
  .frontpage-block {
    @include span-columns(4,12);
    padding: 0 1em;
    h3 {
      margin: 0 .5em;
    }
    h3.frontpage-block-title {
      font-family: $helvetica;
      margin: 0;
      padding: 0 1em;
      font-size: 1.6em;
      background-color: yellow;
      border: 1px solid darken(yellow, 5%);
      @include border-radius(2px);
    }
    img {
      display: block;
      margin: .3em auto;
    }
  }
}
