footer,
#footer {
  border-top: 1px solid $black;
  h2 {
    @include hide-text;
    }
  @include respond-to('full') {
    border: none;
    #block-menu-menu-policy-and-feedback-links,
    #block-system-user-menu,
    #block-views-1db01a8daceda9472cc9c604cabb179c {
      div.content {
        li {
          display: inline;
            a {
              text-decoration: none;
            }
        }
      }
    }
  }
  .utdirect-logo {
    a {
      text-decoration: none;
      }
    img {
      display: block;
    }
    span {
      font-size: .8em;
    }
  }
}

footer,
#footer {
  @include container;
  @include susy-grid-background;
}
.utdirect-logo {
  @include span-columns(12, 12);
  @include pre(11);
  //@include omega;
  background-color: pink;
}
#block-menu-menu-policy-and-feedback-links {
  @include span-columns(6, 12);
//  @include pull(2);

  background-color: blue;
}
#block-system-user-menu {
  @include span-columns(2, 6);
//  @include pull(2);
  background-color: orange;
}
#block-views-1db01a8daceda9472cc9c604cabb179c {
  // clear: both;
  @include span-columns(2, 6);
  // @include pull(2);
  // @include omega;
  background-color: green;
}
