header,
#header {
  a {
    color: $black;
  }
}

div.top-branding {
  line-height: 0;
  img.tower-header {
    min-height: 35px;
  }
}

div.region-header-prefix {
  @include float(right);
  height: 0;
}

#block-menu-menu-visitor-menu {
  ul.menu {
  text-align: right;
  margin: 18px 0 0;
   li {
    display: inline;
    font-weight: bolder;
    font-size: 11px;
    line-height: 11px;
    margin: 0;
      &:after {
        content:'\00a0\00a0|';
      }
      a {
        display: inline-block;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
    }
    .leaf {
      padding: 0;
    }
    li.last {
      &:after {
        content:'';
      }
    }
  }
    li.last {
      &:after {
        content:'';
      }
      a {
        display: inline-table;
        @include replace-text-with-dimensions("support_us_header.png", 0, 0);
        position: relative;
        bottom: 15px;
      }
    }
  }
}

#name-and-slogan {
  height: 29px;
  background-color: #cc5500; // Old browsers
  @include filter-gradient(#e77401, #d56702, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top,  #e77401 4%,#d05d04 37%,#cb5d07 63%,#b85304 83%,#b85304 87%,#c05903 90%,#d56702 100%));
  border-top-right-radius: 5px;
  position: relative;
  z-index: 100;
  img#site-slogan-image {
    margin-left: 15px;
    margin-bottom: 2px;
  }
  #site-name,
  #site-slogan {
    @include squish-text;
    // @include clearfix;
  }
}
