header,
#header {
  a {
    color: $black;
  }
}

img.tower-header {
  min-height: 35px;
}

#name-and-slogan {
  // @include span-columns(3,12);
  height: 29px;
  margin-top: -6px;
  background-color: #cc5500; //Old browsers
  @include background-image(linear-gradient(top, rgba(231,116,1,1) 4%,rgba(208,93,4,1) 37%,rgba(203,93,7,1) 63%,rgba(184,83,4,1) 83%,rgba(184,83,4,1) 87%,rgba(192,89,3,1) 90%,rgba(213,103,2,1) 100%));
  border-top-right-radius: 5px;
  position: relative;
  z-index: 100;
  img#site-slogan-image {
    margin-left: 15px;
    margin-bottom: 2px;
  }
  #site-name,
  #site-slogan {
    @include squish-text;
    // @include clearfix;
  }
}

#block-menu-menu-visitor-menu {
  @include float(right);
  ul.menu {
    margin: 14px 0px -14px;
    li {
      // border-right: black 1px solid;
        display: inline;
        a {
          text-decoration: none;
          display: inline-block;
          text-align: right;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      font-weight: bolder;
      font-size: 11px;
      margin: 0;
        &:after {
          content:'\00a0\00a0|';
        }
      }
      .leaf {
        padding: 0;
      }
    li.last {
      &:after {
        content:'';
      }
      a {
        @include replace-text("support_us_header.png", 0, 0);
        height: 30px;
        width: 54px;
        position: relative;
        bottom: 10px;
      }
    }
  }
}
