.list-style-none ul li {
  list-style: none;
}

#block-menu-menu-primary-navigation {
  height: 25px;
  width: 100%;
  padding: 0;
  background-color: $gray-dark;
  border-top: 1px solid $white;
  border-bottom: 1px solid $black;
  @include breakpoint(800px) {
    ul {
      height: 100%;
      padding: 0;
      margin: 0 0 0 75px;
      line-height: 2em;
      background: $gray-dark;
      li{
        display: inline;
        height: 23px;
        width: auto;
        padding: 0 5px;
        margin: 0;
        @include float(left);
        background: $gray-dark;
        font-family: $helvetica;
        text-align: center;
        border-left: 1px solid $gray-light;
        border-right: 1px solid darken($gray-dark, 7%);
          a {
            margin: 0;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
          }
      }
    }
  }
}

div.breadcrumb {
  min-height: 25px;
  height: auto;
  background-color: $gray-light;
  border-top: 2px solid $white;
  margin-bottom: 2px;
  padding: 4px 6px 3px 8px;
    a {
      text-decoration: none;
      color: $black;
      &:hover {
        text-decoration: underline;
      }
    }
}
