body {
  padding: 0 2em;
}

#page {
  max-width: 1200px;
  margin: 0 auto;
    #sidebar-first {
      @include span-columns(3, 12);
    }

}

div#main {
  border: 15px $gray-light solid;
  border-top: none;
  margin-top: 2px;
  padding-bottom: 1em;
}

#sidebar-first {
  @include span-columns(4,12);
  background-color: $color-fk;
  border: solid 1px darken($color-fk, 10%);
  margin: .5em;
}
