body {
  padding: 0 2em;
}

article {
  div.content-group {
    @include span-columns(12,12);
  }
  & div.content-group {
    @include span-columns(8, 11);
    @include pre(2);
  }
  &.sidebar-first div.content-group {
    @include span-columns(8,11);
    @include pre(0);
  }
  &.sidebar-second div.content-group {
    @include span-columns(7,11);
    @include pre(0);
  }
  &.node-branch-news-and-featured-content div.content-group {
    @include span-columns(7,11);
  }
  aside.sidebar-first {
    @include span-columns(2 alpha,12);
  }
  aside.sidebar-second {
    @include span-columns(2 omega,12);
    margin-left: 0;
    margin-right: 1em;
  }
}

.page-user div#main div.content {
  padding: 0 1em;
}

.page-node-done div.content {
  padding: 0 2em;
}

div#main {
  border: 15px $gray-light solid;
  border-top: none;
  margin-top: 2px;
  padding-bottom: 1em;
}

// WYSIWYG styles
article {
  h2 {
    @include trailer(0, $h3-font-size);
  }
  h3 {
    @include trailer(0, $h3-font-size);
  }
  h4 {
    @include trailer(0, $h3-font-size);
  }
  p {
    margin: .5em 0;
      img {
        margin: 8px;
          &.caption {
            margin: 0 0 8px;
          }
      }
  }
}
div.caption {
  background-color: $gray-highlight;
  padding: 5px;
  @include border-radius(2px);
    &.left {
      margin: 5px 10px 5px 5px;
    }
    &.right {
     margin: 5px 5px 5px 10px;
    }
  p {
    font-size: .8em;
    line-height: 1.2em;
  }
}

div.messages {
  margin: 6px;
}
