body {
  padding: 0 2em;
}

article {
  div.content {
    @include span-columns(12,12);
  }
  &.sidebar-group div.content-group {
    @include span-columns(9 omega, 11);
    @include pull(1);
  }
  &.sidebar-group aside.sidebar-group {
    @include span-columns(2,12);
    @include clearfix;
  }
}

div#main {
  border: 15px $gray-light solid;
  border-top: none;
  margin-top: 2px;
  padding-bottom: 1em;
}
