div.panel-panel {
  padding: 0 20px;
  &.panel-col .inside {
    margin: 0;
  }
  &.panel-col-first {
    padding-right: 0;
  }
  &.panel-col-last {
    padding-left: 0;
    .inside {
      margin: 0;
    }
  }
  .pane-node-title {
    margin: 0;
    .pane-content {
      border: none;
      padding-bottom: 0px;
      h2 {
        font-size: 1.5em;
        font-weight: bold;
        color: $color-ut;
        margin: 0;
      }
    }
  }

}

div.panel-pane,
div.ctools-collapsible-container {
  margin: 4px 0 20px;
  h2 {
    font-family: Verdana, $arial;
    font-size: 1.2em;
    font-weight: normal;
    &.pane-title {
      text-align: left;
      background-color: $blue;
      margin: 0;
      color: $white;
      padding: 0 10px;
      @include border-top-radius(10px);
    }
  }
  span.ctools-toggle {
    background-image: image-url('ui/down.gif');
    float: left;
    width: 20px;
    height: 25px;
    background-position: 0;
    cursor: pointer;
    background-repeat: no-repeat;
  }
  span.ctools-toggle.ctools-toggle-collapsed {
    background-image: image-url('ui/right.gif');
    width: 20px;
    height: 25px;
    background-position: 8px;
  }
  div.pane-content,
  div.ctools-collapsible-content {
    border: 1px solid $gray-light;
    border-top: none;
    padding: 7px 7px 0;
    p {
      margin-top: 0;
    }
  }
}
